<app-products-header></app-products-header>


{{randomNumber}}

<p>{{title}}</p>
<div *ngIf="products && products.length > 0 ; else noProducts">
    <p>Ci sono {{products.length}} prodotti</p>
    <app-products-table [products]="products"  (emitter)="onDetails($event)" ></app-products-table>
</div>

<!-- <app-product-details (emitter)="seeProducts()"  [product]="selectedProduct"></app-product-details> -->


<!-- <app-products-table [products]="productsNotInStock"
  (emitter)="onRemove($event)"> </app-products-table> -->

<ng-template #noProducts>
    <p>Non ci sono prodotti disponibili</p>
</ng-template>
